@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F7F8;
  --active1: #01F0D0;
  --active2: #D8FCF7;
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
